body{
    margin: 0;
    padding: 0;
    display: flex;
}
section{
    width:20%;
    float: left;
}
.A{
    width:20%;
    height: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.A .aa{
    display: flex;
    justify-content: space-around;
}
.A button{
 width: 50px;
 height: 50px;
 padding: 10px;
 text-align: center;
    
}
main{
    width:60%;
    display:flex;
    text-align: center;
    padding-top: 10px;
}
.buttony{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 20px;
    
   
}
button{
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.gora, .dol{
    height: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dol button{
width: 300px;
height: 40px;
}
.gora input{
    width: 290px;
    height: 30px;
    
    }
    .reset{
        margin-top: 600px;
        width: 100%;
        margin-left: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .reset button{
        width: 80%;
        text-align: center;
    }
    .aa :first-child{
        color: yellow;
        background-color: black;
    }

    .aa :nth-child(2){
        color: black;
        background-color: yellow;
    }
p{
    margin-left: 40px;
}
#Rezultat{
    margin-left: 40px;
}